@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }

  .font-brutal {
    font-family: var(--font-archivo);
  }

  .font-serif {
    font-family: var(--font-instrument);
  }

  h1, h2, h3 {
    @apply font-brutal uppercase tracking-tighter leading-[0.8];
  }

  p {
    @apply font-serif;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}
